$container-pi: 40px;
$container-pi-1023: 32px;
$container-pi-767: 24px;
$container-pi-575: 20px;
$container-pi-413: 16px;
$container-pi-374: 10px;

$vp-1440: 1440px;
$vp-1200: 1200px;
$vp-1024: 1024px;
$vp-768: 768px;
$vp-576: 576px;
$vp-414: 414px;
$vp-375: 375px;
$vp-max: $vp-1440;
