---
import MainLayout from '@/layouts/Main.astro';
import Example from '@/modules/Example/Example.astro';
import Modal from '@/components/Modal/Modal.astro';
import Title from '@/ui/Title/Title.astro';
---

<MainLayout title="Главная">
  <Example />

  <Fragment slot="modals">
    <Modal name="example">
      <Title>Пример модалки.</Title>
    </Modal>
  </Fragment>
</MainLayout>
