---
import Container from '@components/Container';
import UiTitle from '@ui/UiTitle';
import UiButton from '@ui/UiButton';
---

<section class="example">
  <Container>
    <UiTitle as="h1">Главная страница.</UiTitle>
    <img
      class="example__cover"
      src="/images/mountain.jpg"
      width="960"
      height="640"
      alt="Белая гора"
    />
    <UiButton
      className="example__btn"
      text="Стандартная модалка"
      icon="icon-shipping-box"
      iconEnd
      modal="example"
    />
  </Container>
</section>
