---
import Container from '@/components/Container/Container.astro';
import Title from '@/ui/Title/Title.astro';
import Button from '@/ui/Button/Button.astro';
---

<section class="example">
  <Container>
    <Title as="h1">Главная страница.</Title>
    <img
      class="example__cover"
      src="/images/mountain.jpg"
      width="960"
      height="640"
      alt="Белая гора"
    />
    <Button
      className="example__btn"
      text="Стандартная модалка"
      icon="icon-shipping-box"
      iconEnd
      modal="example"
    />
  </Container>
</section>
