---
import RootLayout from '@/layouts/Root';
import Header from '@modules/Header';
import Footer from '@modules/Footer';

const { title } = Astro.props;
---

<RootLayout title={title}>
  <Header />
  <main>
    <slot />
  </main>
  <Footer />
  <slot name="modals" />
</RootLayout>
